
<%- include('header'); -%>
  <div class="box" id="heading">
  <h1> <%= kindOfDay %></h1>
</div>

<div class="box">
     <% newThing.forEach(function(item){ %>
      <form action="/delete" method="POST">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id %>" onchange="this.form.submit()">    
      <p> <%= item.name %> </p>
      </div>
        <input type="hidden" name="listName" value="<%= kindOfDay %>"></input>
      </form>
     <% }); %>
  <form action="/" method="POST">
    <input type="text" name="newItem" placeholder="Type Here" autocomplete="off"></input>
    <button type="submit" name="button" value= "<%= kindOfDay %>"> + </button>
</form>
<%- include('footer'); -%>